{% extends 'inicio/base.html' %}
{% load static %}
{% block tituloPagina %}
	<title>Inscripción | Mis Pandis</title>
{% endblock tituloPagina %}
{% block contenido %}
	<div class="container py-5">
		<h1>Inscripción</h1>
		<section class="mt-3 mb-4 col-lg-8 mx-lg-auto">
			<form class="row" method="POST" id="form-inscripcion">
				{% csrf_token %}

				<div class="col-12 col-md-4">
					<div class="form-group">
						Nombre completo:<br>
						{{ form.nombre }}
					</div>
				</div>
				<div class="col-6 col-md-4">
					<div class="form-group">
						Email:<br>
						{{ form.email }}
					</div>
				</div>
				<div class="col-6 col-md-4">
					<div class="form-group">
						RUT:
						{{ form.rut }}
					</div>
				</div>
				<div class="col-6">
					<div class="form-group">
						Contraseña:
						{{ form.contrasena }}
					</div>
				</div>
				<div class="col-6">
					<div class="form-group">
						Confirmar Contraseña:
						<input type="password" name="confcontrasena" class="form-control" required>
					</div>
				</div>
				<div class="col-12 col-md-6">
					<div class="form-group">
						Fecha de nacimiento:
						<div id="datepicker"></div>
					</div>
				</div>
				<div class="col-12 col-md-6">
					<br>
					<div class="form-group">
						{{ form.nacimiento }}
					</div>
					<div class="form-group">
						Región:
						<select id="regiones" class="form-control" required></select>
						{{ form.region }}
					</div>
					<div class="form-group">
						Comuna:
						<select id="comunas" class="form-control" required></select>
						{{ form.comuna }}
					</div>
				</div>
				<div class="col-6">
					<div class="form-group">
						Teléfono
						{{ form.telefono }}
					</div>
				</div>
				<div class="col-6">
					<div class="form-group">
						Tipo Suscripción:
						{{ form.suscripcion }}
					</div>
				</div>
				<div class="col-12 text-right">
					<button type="submit" class="btn btn-primary btn-enviar">Enviar formulario</button>
				</div>
			</form>
		</section> 
	</div>
{% endblock contenido %}
{% block js %}
	<!-- SCRIPT REGIONES Y COMUNAS -->
	<script type="text/javascript" src="{% static 'js/regiones-comunas.js' %}"></script>
	<!-- FIN REGIONES Y COMUNAS -->

	<!-- SCRIPT VALIDADOR RUT -->
	<script type="text/javascript" src="{% static 'js/jquery.rut.chileno.js' %}"></script>
	<!-- FIN VALIDADOR RUT -->
	<script>
		$(document).ready(function(){
			$.datepicker.regional['es'] = {
				closeText: 'Cerrar',
				prevText: '< Ant',
				nextText: 'Sig >',
				currentText: 'Hoy',
				monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
				monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
				dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
				dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
				dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
				weekHeader: 'Sm',
				dateFormat: 'dd/mm/yy',
				firstDay: 1,
				isRTL: false,
				showMonthAfterYear: false,
				yearSuffix: ''
			};
			$.datepicker.setDefaults($.datepicker.regional['es']);
			$(function(){
				$("#datepicker").datepicker({
					yearRange: '1920:2000',
					changeMonth: true,
					changeYear: true,
					onSelect: function(dateText) {
						$('.fecha-seleccionada').val(dateText);
					}
				});
			});


			$('#form-inscripcion input, #form-inscripcion select').addClass('form-control');
			$('#form-inscripcion input[name="nombre"]').addClass('solo-texto');
			$('#form-inscripcion input[name="rut"]').addClass('input-rut');
			$('#form-inscripcion input[name="contrasena"]').attr('type','password');
			$('#form-inscripcion input[name="nacimiento"]').addClass('fecha-seleccionada').attr({
				'readonly':'readonly',
				'placeholder' : 'Seleccione fecha'
			});
			$('#form-inscripcion input[name="region"]').attr('type','hidden');
			$('#form-inscripcion input[name="comuna"]').attr('type','hidden');
			$('#form-inscripcion input[name="telefono"]').addClass('solo-numero');


			$('.solo-texto').keypress(function(event){
				var inputValue = event.which;
				if(!(inputValue >= 65 && inputValue <= 120) && (inputValue != 32 && inputValue != 0 && inputValue != 8)) { 
					event.preventDefault(); 
		        }
		    });

		    $(".solo-numero").keydown(function (e) {
				if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||
					(e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) || 
					(e.keyCode >= 35 && e.keyCode <= 40)) {
						return;
				}
				if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
					e.preventDefault();
				}
		    });

		    $('.input-rut').rut();


		    $('#regiones').change(function(){
				$('#form-inscripcion input[name="region"]').val($(this).val());
			});

			$('#comunas').change(function(){
		    	$('#form-inscripcion input[name="comuna"]').val($(this).val());
		    });

			$('#form-inscripcion .btn-enviar').click(function(){
				if($('#form-inscripcion input[name="contrasena"]').val() != $('#form-inscripcion input[name="confcontrasena"]').val()){
					alert('Las contraseñas no coinciden');
					return false;
				}
			});
		});
	</script>
{% endblock js %}